.App {
  text-align: center;
}

body{
  background-color: cadetblue;
}

.todo-list{
  background-color: black;
  margin-top: 30px;

  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  

}

.todo-item {
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  font-size: 2rem;
}

.todo-item button{  /* Delete Button */
  background-color: red;
  color: white;
}

.todo-item p{
  color:white;
}


.todo-item input:checked + p {
  text-decoration: line-through;
  color: green;
}